.App{
    height: 100vh;

    .section{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightcoral;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; // for firefox to hide the scrollbar
        &::-webkit-scrollbar{ // to hide the scrollbar
            display: none;
        }
        //for all the components inside section
        > *{ 
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start; // to start scrollbar at starting section when left anywhere in middle
        }
    }
}